.ticket-display {
  width: 100%; 
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.ticket-display h1 {
  color: rebeccapurple;
  margin: 0;
  ;
}
