.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.ticket-display-container {
  width: 20vw; 
  height: 100vh; 
  outline: 2px solid rebeccapurple;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center; 
}
